{% extends 'base.html' %}


{% block content %}
hi {{user.username}}
<hr>
<div>
    <p>your chats:</p>
    <div>

        {% for chat in chats %}
        <div>
            <div>{{chat.username}} {{chat.user_id}} <a href="/pm/{{chat.user_id}}">message</a></div>
        </div>
        {% endfor %}

    </div>
</div>
<hr>
<div>
    <div>contacts</div>

    {% for contact in contacts %}
    <div>{{contact.username}} {{contact.id}} <a href="/pm/{{contact.id}}">message</a></div>
    {% endfor %}

    add
</div>

{% endblock content %}