{% extends 'base.html' %} {% block content %}
<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card" id="chat1" style="border-radius: 15px">
          <div
            class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
            style="border-top-left-radius: 15px; border-top-right-radius: 15px"
          >
            <i class="fas fa-angle-left"></i>
            <p
              class="mb-0 fw-bold"
              id="user"
              data-userID="{{user.id}}"
              data-targetUserid="{{target_user.id}}"
            >
              {{target_user.username}}
            </p>
            <i class="fas fa-times"></i>
          </div>
          <div class="card-body"></div>
          <div class="form-outline">
            <form id="textForm" class="p-3" onsubmit="sendMessage(event)">
              <textarea
                class="form-control"
                id="messageText"
                rows="4"
              ></textarea>
              <button class="btn btn-primary mt-3">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var host = window.location.host;
  var protocol = window.location.protocol;
  var userId = document.getElementById("user").dataset.userid;
  var targetUserId = document.getElementById("user").dataset.targetuserid;
  var webSocketProtocol = "wss";

  if (protocol == "http:") {
    var webSocketProtocol = "ws";
  }

  var ws = new WebSocket(
    `${webSocketProtocol}://${host}/chats/server/connect/${userId}`
  );

  var user_online = new WebSocket(
    `${webSocketProtocol}://${host}/chats/server/check_connection/${userId}/${targetUserId}`
  );

  user_online.onmessage = function (event) {
    console.log(event.data);
  };

  ws.onmessage = function (event) {
    var cardBody = document.getElementsByClassName("card-body")[0];
    message_obj = JSON.parse(JSON.parse(event.data))
    console.log(event)
    var message = `<div class="d-flex flex-row justify-content-start mb-4">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                            alt="avatar 1" style="width: 45px; height: 100%;">
                        <div class="p-3 ms-3" style="max-width: 369px; border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                            <p class="small mb-0">${message_obj.message}</p>
                        </div>
                    </div>`;
    let newElement = document.createElement("div");
    newElement.innerHTML = message;
    cardBody.appendChild(newElement);
  };

  function sendMessage(event) {
    var input = document.getElementById("messageText");
    var cardBody = document.getElementsByClassName("card-body")[0];
    var json_message = JSON.stringify({
      message: input.value,
      sender_id: userId,
      receiver_id: targetUserId,
    });
    ws.send(json_message);
    let selfMessage = `<div class="d-flex flex-row justify-content-end mb-4">
            <div class="p-3 me-3 border" style="max-width: 369px; border-radius: 15px; background-color: #fbfbfb;">
                <p class="small mb-0">${input.value}</p>
                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                alt="avatar 1" style="width: 45px; height: 100%;">
                </div>`;
    let selfMessageContainer = document.createElement("div");
    selfMessageContainer.innerHTML = selfMessage;
    cardBody.appendChild(selfMessageContainer);
    input.value = "";
    event.preventDefault();
  }
</script>
{% endblock content %}
